/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'default';
@reset      : 'default';

/* Elements */
@button     : '';
@container  : '';
@divider    : '';
@flag       : '';
@header     : '';
@icon       : '';
@image      : '';
@input      : '';
@label      : '';
@list       : '';
@loader     : '';
@rail       : '';
@reveal     : '';
@segment    : '';
@step       : '';

/* Collections */
@breadcrumb : '';
@form       : '';
@grid       : '';
@menu       : '';
@message    : '';
@table      : '';

/* Modules */
@accordion  : '';
@checkbox   : '';
@dimmer     : '';
@dropdown   : '';
@embed      : '';
@modal      : '';
@nag        : '';
@popup      : '';
@progress   : '';
@rating     : '';
@search     : '';
@shape      : '';
@sidebar    : '';
@sticky     : '';
@tab        : '';
@transition : '';

/* Views */
@ad         : '';
@card       : '';
@comment    : '';
@feed       : '';
@item       : '';
@statistic  : '';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : 'site';
